MQTT-mongodb/mongodb-node-red.json.txt
[{"id":"b7096e5f.bd6f6","type":"mqttin","z":"a7fdad9a.7bafd","name":"","topic":"esp32/LDR_sensor","qos":"2","datatype":"auto","broker":"482dc727.d76b58","x":530,"y":260,"wires":[["db5a3b32.75c898"]]},{"id":"d3606bd2.db28b8","type":"mqttout","z":"a7fdad9a.7bafd","name":"","topic":"esp32/output","qos":"","retain":"","broker":"5a3b85da.64996c","x":950,"y":340,"wires":[]},{"id":"32c20861.8b6248","type":"inject","z":"a7fdad9a.7bafd","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":340,"wires":[["6622ffe7.2468c"]]},{"id":"6622ffe7.2468c","type":"mongodbin","z":"a7fdad9a.7bafd","mongodb":"239ef8aa.3e4608","name":"","collection":"device","operation":"find","x":700,"y":340,"wires":[["d3606bd2.db28b8"]]},{"id":"db5a3b32.75c898","type":"mongodbout","z":"a7fdad9a.7bafd","mongodb":"239ef8aa.3e4608","name":"","collection":"sensorcahaya","payonly":true,"upsert":false,"multi":false,"operation":"store","x":850,"y":260,"wires":[]},{"id":"482dc727.d76b58","type":"mqttbroker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a3b85da.64996c","type":"mqttbroker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"239ef8aa.3e4608","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"smarthome","name":""}]